<form class="form-inline">
  <div class="form-group">
    <input class="form-control" type="search" placeholder="Enter search string" #search>
  </div>
  <button class="btn btn-primary" type="submit" (click)="doSearch(search.value)">Search</button>
</form>
<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let track of itunes.results">
    <img src="{{track.thumbnail}}" alt="Track Image">
    <a target="_blank" href="{{track.link}}">{{track.name}}</a>
  </li>
</ul>
