<h3>Signup Form <small>by model-driven forms</small></h3>
<form novalidate>
  <fieldset>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input class="form-control" type="text" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input class="form-control" type="text" id="lastName" placeholder="Last Name">
    </div>
  </fieldset>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" id="email" placeholder="Email">
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input class="form-control" type="password" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="language">Language</label>
    <select class="form-control">
      <option value="None">Please select a language</option>
    </select>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="button" value="Submit">
  </div>
</form>
