<h3>Signup Form <small>by a template form</small></h3>
<form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <fieldset ngModelGroup="name">
    <div class="form-group">
      <label>First Name</label>
      <input type="text"
             class="form-control"
             name="firstName"
             [(ngModel)]="model.firstName">
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text"
             class="form-control"
             name="lastName"
             [(ngModel)]="model.lastName">
    </div>
  </fieldset>

  <div class="form-group" [ngClass]="{'has-danger': f.form.controls.email?.invalid && (f.form.controls.email?.dirty || f.form.controls.email?.touched), 'has-success': f.form.controls.email?.valid && (f.form.controls.email?.dirty || f.form.controls.email?.touched)}">
    <label>Email</label>
    <input type="email"
           class="form-control"
           name="email"
           [(ngModel)]="email"
           required
           pattern="[^ @]*@[^ @]*">
  </div>

  <div class="form-group" [ngClass]="{'has-danger': password.invalid && (password.dirty || password.touched), 'has-success': password.valid && (password.dirty||password.touched)}">
    <label>Password</label>
    <input type="password"
           class="form-control"
           name="password"
           [(ngModel)]="model.password"
           #password="ngModel"
           required
           minlength="8">
    <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
      <p *ngIf="password.errors.required">Password is required.</p>
      <p *ngIf="password.errors.minlength">Password must be 8 characters long or more.</p>
    </div>
  </div>

  <div class="form-group">
    <label>Language</label>
    <select class="form-control" name="language" ngModel>
      <option value="">Please select a language</option>
      <option *ngFor="let lang of langs"
              [value]="lang">
              {{lang}}
      </option>
    </select>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
  </div>
  <pre>{{f.value|json}}</pre>
</form>
